{% extends 'base.html' %}
{% block title %}Editing ToDo{% endblock title %}
{% block body %}
    
    <div class="container my-5">
        <h2>Edit a ToDo</h2>
        <form action='/edit/{{todo.srno}}' method='POST'>
            <div class="mb-3">
              <label for="title" class="form-label">To Do Title</label>
              <input type="text" class="form-control" name='title' id="title" value="{{todo.title}}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">To Do Description</label>
              <input type="text" class="form-control" value="{{todo.desc}}" name='desc' id="desc">
            </div>
            <button type="submit" class="btn btn-outline-info">Update</button>
          </form>
    </div>

{% endblock body %}